.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #337ab7;
}
.list-unstyled  li{
padding: 1.5rem;
border-bottom: 1px solid #fff;
}
.list-unstyled li a {
color: black;
text-decoration: none;
}
.list-unstyled li a:hover {
color: #fff;
}
.panel-title a {
	text-decoration: none;
	font-weight: bolder;
}
.panel-collapse.collapsing {
	box-shadow: 1px 6px 20px -5px #000;
}
.panel-collapse.collapse.in {
	box-shadow: 1px 6px 20px -5px #000;
}
.footer-top {
	padding: 2rem;
}
.footer-top .page-header h5 {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 1.5rem;
}
.footer-top img {
	margin-right: 1rem;
}
.footer-top li {
	margin: 1rem;
}
.footer-top li a {
	text-decoration: none;
	color: black;
	transition: color 0.4s easi-in;
	padding: 0.2rem;
}
.footer-top li a:hover {
	color: #337ab7;
}
.footer-bottom {
	padding: 1.5rem 1.5rem 0 2rem;
	background-color: #eee;
}
.footer-bottom li a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	transition: color 0.4s easi-in;
	padding: 0.2rem;
}
.footer-bottom li a:hover {
	color: #337ab7;
}
.pozadina{
    background-image: url('../img/pozadina.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center center;
	background-size:  cover;
}
.telefon{
	border: 2px solid black;
    border-radius: 20px;
	background-color: #eee;
	
}
.futer{
	border: 2px solid black;
}
.logo{
	border: 5px solid #337ab7 ;
	border-radius: 10px;
}
.boja{
	background-color: #F8F8F8 ;
}

































